body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f1f5f8;
}
.white{
    color:white;
}
.nav-centre{
    display: block;
    background-color: #00ffff;
    padding: 20px;
    margin:-10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-centre>h4{
    background-color: black;
    width:7em;
    text-align: center;
    border:2px solid black;
    border-radius: 12px;
    color:#00ffff;
    font-size:2em;
}
.container{

    display:grid;
    margin-top: 4em;
    grid-template-rows: 70% 30%;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    width:700px;
    height:500px;
    background-image:url('./color_swatch.svg');
    background-repeat: no-repeat;
    background-size:contain;
}
.container>h2{
    color:black;
    text-align: center;
    position:relative;
    top:-50px;
    font-size: 2em;
}
h2>.color-value:hover{
    background-color: #413f42;
}
.btn{
    align-items:flex-start;
    background-color:#ffffff;
    border:2px solid black;
    border-radius:10px;
    color:#000000;
    font-family:Franklin Gothic Medium;
    padding:1px 6px;
    text-align:center;
    position: relative; 
    left: 0px; 
    top: -180px; 
    font-size: 23px;
}
.btn:hover{
    background-color: black;
    color:white;
    border:none;
}
/*Media Queries for Responsive Nature*/
@media only screen and (max-width:720px){
    .nav-centre{
        width:100%;
        height:3em;
    }
    .nav-centre>h4{
        font-size: 1.5em;
        margin-top:-0.2em;
    }
    .container{
        width:500px;
        height: 400px;
        background-size: contain;
    }
    .container>h2{
        top:0px;
        font-size:1.2em;
        margin-top: -4em;
    }
    .btn{
        width:80%;
        font-size: 20px;
        margin-top: -3em;
        margin-left:12.5%;
        top: -150px; 
    }
}