body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f1f5f8;
}
.nav-centre{
    display: block;
    background-color: #00ffff;
    padding: 20px;
    margin:-10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{

    display:grid;
    margin-top: 4em;
    grid-template-rows: 70% 30%;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    width:750px;
    height:450px;
    background-image:url('./color_swatch.svg');
    background-repeat: no-repeat;
}
.container>h2{
    color:black;
    text-align: center;
    padding: 5px 10px 5px 10px;
}
h2>.color-value:hover{
    background-color: #413f42;
}
.btn{
    align-items:flex-start;
    background-color:#ffffff;
    border:2px solid black;
    border-radius:10px;
    color:#000000;
    font-family:Franklin Gothic Medium;
    padding:1px 6px;
    text-align:center;
    position: relative; 
    left: 0px; 
    top: -150px; 
    font-size: 23px;
}
.btn:hover{
    background-color: black;
    color:white;
    border:none;
}
/*Media Queries for Responsive Nature*/
@media only screen and (max-width:720px){
    .nav-centre{
        width:100%;
        font-size: 32px;
    }
    .container{
        margin-top: 30%;
    }
    .container>h2{
        font-size: 32px;
    }
    .btn{
        width:100%;
        font-size: 20px;
    }
}